<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}EkoOkna!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block nav %}
         {% if app.user %}
            <a class="nav-link" href="{{ path('logout') }}">Wyloguj</a>
            <a class="nav-link" href="{{ path('admin') }}">Lista propozycji</a>
        {% else %}
            <a class="nav-link" href="{{ path('login') }}">Zaloguj</a>
        {% endif %}

        {% endblock %}
        
        {% block body %}Co Ty mi dodałeś{% endblock %}
    </body>
</html>
