{% extends 'base.html.twig' %}

{% block title %}Zaloguj!{% endblock %}

{% block nav %}
{% endblock %}

{% block body %}
    {% if errors %}
        {{ errors.messageKey }}
    {% endif %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">Login form</h1>
            <div class="col-lg-6">
                <form action="{{ path('login') }}" method="post" class="form-horizontal">
                    <label for="_username">Login</label>
                    <input type="text" name="_username" id="_username"class="form-control">
                    <label for="password">Hasło</label>
                    <input type="password" name="_password" id="password" class="form-control">
                    <br>
                    <button type="submit" class="btn btn-success">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}