{% extends 'base.html.twig' %}

{% block body %}

{% if message == 'Dodano przystanek!' %}
    <p> {{ message }} </p>
    
{% endif %} 

<p>Formularz dodania propozycji nowego przystanku</p>
<p>Pole ze znakiem <b>*</b> w tytule jest polem obowiązkowym do uzupełnienia</p>

{{ form_start(articleForm) }}
    {{ form_widget(articleForm) }}

    <button type="submit">ZAPISZ</button>
{{ form_end(articleForm) }}

{% endblock %}
