{% extends 'base.html.twig' %}

{% block body %}
<p>Dziękujemy za złożenie propozycji!</p>

{# <button type="submit"></button> #}
<a href="{{ path('addstation') }}" class="button">Dodaj nowy przystanek!</a> lub zaloguj się wcelu przejrzenia wyników.

{% endblock %}
