{% extends 'base.html.twig' %}

{% block body %}
<p>Lista propozycji!</p>

<a href="{{ path('addstation') }}" class="button">Dodaj nowy przystanek!</a> lub zaloguj się wcelu przejrzenia wyników.

    <table>
        <head>
            <th>Nowy</th>
            <th>Ulica</th>
        </head>
        {% for station in stations %}
            <body>
                <tr>
                    {% if station.readed == 0 %}
                        <td><b> * </b></td>
                        <td><a href="{{ path('show', {id: station.id}) }}"><b>{{ station.city }}</b></a></td>
                        
                    {% else %}
                        <td>  </td>
                        <td><a href="{{ path('show', {id: station.id}) }}">{{ station.city }}</a></td>
                    {% endif %}
                </tr>
            </body>
        {% endfor %}
    </table>


{% endblock %}