{% extends 'base.html.twig' %}

{% block body %}
</br>
<a href="{{ path('addstation') }}" >Dodaj nowy przystanek!</a> lub zaloguj się wcelu przejrzenia wyników.

<table>
        <tr>
            <th>Kod pocztowy / Miasto</th>
            <td>{{ station.zipCode }} {{ station.City }}</td>
        </tr>
        <tr>
            <th>Ulica / Nr domu</th>
            <td>{{ station.street }} {{ station.nrBuilding }}</td>
        </tr>
</table>

{% if station.img1 is not null %} <img src= "{{ asset('uploads/') ~ station.img1}}"  > {% endif %}
{% if station.img2 is not null %} <img src= "{{ asset('uploads/') ~ station.img2}}"  > {% endif %}
{% if station.img3 is not null %} <img src= "{{ asset('uploads/') ~ station.img3}}"  > {% endif %}

{% endblock %}